<div class="container w-full md:max-w-3xl mx-auto pt-20">
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pt-6 pb-8 md:space-y-5">
      <h1
        class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
        Latest</h1>
      <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">Federated multilingual blogging.</p>
    </div>
    <ul class="divide-y divide-gray-200 dark:divide-gray-700">
      <li class="py-12">
        <article>
          <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
            <dl>
              <dt class="sr-only">Published on</dt>
              <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400"><time
                  datetime="2021-08-07T15:32:14.000Z">8/7/2021</time></dd>
            </dl>
            <div class="space-y-5 xl:col-span-3">
              <div class="space-y-6">
                <div>
                  <h2 class="text-2xl font-bold leading-8 tracking-tight"><a class="text-gray-900 dark:text-gray-100"
                      href="/blog/new-features-in-v1">New features in v1</a></h2>
                  <div class="flex flex-wrap"><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/next-js">next-js</a><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/tailwind">tailwind</a><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/guide">guide</a></div>
                </div>
                <div class="prose max-w-none text-gray-500 dark:text-gray-400">An overview of the new features released
                  in v1 - code block copy, multiple authors, frontmatter layout and more</div>
              </div>
              <div class="text-base font-medium leading-6">
                <%= link_to "Read more →", article_path, class: "text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" %>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="py-12">
        <article>
          <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
            <dl>
              <dt class="sr-only">Published on</dt>
              <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400"><time
                  datetime="2021-05-02T00:00:00.000Z">5/1/2021</time></dd>
            </dl>
            <div class="space-y-5 xl:col-span-3">
              <div class="space-y-6">
                <div>
                  <h2 class="text-2xl font-bold leading-8 tracking-tight"><a class="text-gray-900 dark:text-gray-100"
                      href="/blog/nested-route/introducing-multi-part-posts-with-nested-routing">Introducing Multi-part
                      Posts with Nested Routing</a></h2>
                  <div class="flex flex-wrap"><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/multi-author">multi-author</a><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/next-js">next-js</a><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/feature">feature</a></div>
                </div>
                <div class="prose max-w-none text-gray-500 dark:text-gray-400">The blog template supports posts in
                  nested sub-folders. This can be used to group posts of similar content e.g. a multi-part course. This
                  post is itself an example of a nested route!</div>
              </div>
              <div class="text-base font-medium leading-6"><a
                  class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                  aria-label="Read &quot;Introducing Multi-part Posts with Nested Routing&quot;"
                  href="/blog/nested-route/introducing-multi-part-posts-with-nested-routing">Read more →</a></div>
            </div>
          </div>
        </article>
      </li>
      <li class="py-12">
        <article>
          <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
            <dl>
              <dt class="sr-only">Published on</dt>
              <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400"><time
                  datetime="2021-01-12T00:00:00.000Z">1/11/2021</time></dd>
            </dl>
            <div class="space-y-5 xl:col-span-3">
              <div class="space-y-6">
                <div>
                  <h2 class="text-2xl font-bold leading-8 tracking-tight"><a class="text-gray-900 dark:text-gray-100"
                      href="/blog/introducing-tailwind-nextjs-starter-blog">Introducing Tailwind Nextjs Starter Blog</a>
                  </h2>
                  <div class="flex flex-wrap"><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/next-js">next-js</a><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/tailwind">tailwind</a><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/guide">guide</a></div>
                </div>
                <div class="prose max-w-none text-gray-500 dark:text-gray-400">Looking for a performant, out of the box
                  template, with all the best in web technology to support your blogging needs? Checkout the Tailwind
                  Nextjs Starter Blog template.</div>
              </div>
              <div class="text-base font-medium leading-6"><a
                  class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                  aria-label="Read &quot;Introducing Tailwind Nextjs Starter Blog&quot;"
                  href="/blog/introducing-tailwind-nextjs-starter-blog">Read more →</a></div>
            </div>
          </div>
        </article>
      </li>
      <li class="py-12">
        <article>
          <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
            <dl>
              <dt class="sr-only">Published on</dt>
              <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400"><time
                  datetime="2020-12-21T00:00:00.000Z">12/20/2020</time></dd>
            </dl>
            <div class="space-y-5 xl:col-span-3">
              <div class="space-y-6">
                <div>
                  <h2 class="text-2xl font-bold leading-8 tracking-tight"><a class="text-gray-900 dark:text-gray-100"
                      href="/blog/deriving-ols-estimator">Deriving the OLS Estimator</a></h2>
                  <div class="flex flex-wrap"><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/next-js">next-js</a><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/math">math</a><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/ols">ols</a></div>
                </div>
                <div class="prose max-w-none text-gray-500 dark:text-gray-400">How to derive the OLS Estimator with
                  matrix notation and a tour of math typesetting using markdown with the help of KaTeX.</div>
              </div>
              <div class="text-base font-medium leading-6"><a
                  class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                  aria-label="Read &quot;Deriving the OLS Estimator&quot;" href="/blog/deriving-ols-estimator">Read more
                  →</a></div>
            </div>
          </div>
        </article>
      </li>
      <li class="py-12">
        <article>
          <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
            <dl>
              <dt class="sr-only">Published on</dt>
              <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400"><time
                  datetime="2020-11-11T00:00:00.000Z">11/10/2020</time></dd>
            </dl>
            <div class="space-y-5 xl:col-span-3">
              <div class="space-y-6">
                <div>
                  <h2 class="text-2xl font-bold leading-8 tracking-tight"><a class="text-gray-900 dark:text-gray-100"
                      href="/blog/guide-to-using-images-in-nextjs">Images in Next.js</a></h2>
                  <div class="flex flex-wrap"><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/next-js">next-js</a><a
                      class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                      href="/tags/guide">guide</a></div>
                </div>
                <div class="prose max-w-none text-gray-500 dark:text-gray-400">In this article we introduce adding
                  images in the tailwind starter blog and the benefits and limitations of the next/image component.
                </div>
              </div>
              <div class="text-base font-medium leading-6"><a
                  class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                  aria-label="Read &quot;Images in Next.js&quot;" href="/blog/guide-to-using-images-in-nextjs">Read more
                  →</a></div>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>